<!-- © 2026 VERADPRO Software Solutions. All rights reserved. -->
<footer class="footer">
  <div class="container">
    <div class="footer-bottom">
     <img src="assets/images/Veradpro_double_arrow-removebg-preview.png" alt="VERADPRO" class="logo-icon" />
      <ul class="footer-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#partners">Partners</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <p>© 2026 VERADPRO Software Solutions · VAT: BE1026.467.757</p>
    </div>
  </div>
</footer>